.jumbotron {
    background-color: yellow;
    color: black;
    margin-top: 3.5em;
}

.banner {
    height: 280px;
    overflow: hidden;
    position: relative;
}

.card-hotel {
    margin: 1em;
    width: 18rem;
    flex: 1 220px;
}

.btn-reserva {
    width: 100%;
}

footer {
    background-color: blue;
    color: white;
    padding: 2em 1em;
}

footer a {
    color: aqua;
}