.jumbotron {
  background-color: #d0ff00;
  color: black;
  margin-top: 3.5em;
}
.banner {
  height: 280px;
  overflow: hidden;
  position: relative;
}
.card-hotel {
  margin: 1em;
  width: 18rem;
  flex: 1 220px;
  margin-top: 2em;
}
.btn-reserva {
  width: 100%;
}
footer {
  background-color: #cf2a01;
  color: #5eff00;
  padding: 2em 1em;
  margin-top: 2em;
}
footer a {
  color: #5eff00;
}
