$amarillo: rgb(208, 255, 0);
$rojo: rgb(207, 42, 1);
$verde: rgb(94, 255, 0);

@mixin margensuperior($valor) {
    margin-top: $valor;
}

.jumbotron {
    background-color: $amarillo;
    color: black;
    margin-top: 3.5em;
}

.banner {
    height: 280px;
    overflow: hidden;
    position: relative;
}

.card-hotel {
    margin: 1em;
    width: 18rem;
    flex: 1 220px;
    @include margensuperior(2em)
}

.btn-reserva {
    width: 100%;
}

footer {
    background-color: $rojo;
    color: $verde;
    padding: 2em 1em;
    @include margensuperior(2em)
}

footer a {
    color: $verde;
}
